#content{
    margin-top:5%;
}

#verkoopgegevens{	
	margin-top:3%;
	height:10%;
	float: right;
	position: absolute;
	width:40%;
	top:35%;
	left: 40%;
	text-align: center;
} 

#tabel{
	text-align:center;
}

#email{
	width:20%;
    height:10%;
}

#product{
	width:20%;
    height:10%;
    float:left;
    margin-bottom: 10%;
	
}

#product #subfoto img{
    width: 100px;
}

#foto{
    float:left;
}

#gerelateerdeproducten{
    /*margin-left:25%;*/
    width:100%;
    clear:both;
}
#gerelateerdeproducten img{
    margin-right:15%;
}