#content{
    margin-top:5%;
}

#biedpaneel{
    width: 20%;
    height: 100%;
   float:right; 
}

#product{
    width:75%;
    height:100%;
   float:left;
   margin-bottom: 10%;
}

#product #subfoto img{
    width: 10px;
}

#foto{
    float:left;
}

#gerelateerdeproducten{
    /*margin-left:25%;*/
    width:100%;
    clear:both;
}
#gerelateerdeproducten img{
    margin-right:15%;
}